@using FluentBlog.ViewComponents
<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width"/>
    <link href="~/css/reset.css" rel="stylesheet"/>
    <environment include="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet"/>
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true"/>
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    </environment>

    <link href="~/lib/FDBootstrap/css/fluent.css" rel="stylesheet"/>
    <link href="~/lib/FDBootstrap/css/micon.min.css" rel="stylesheet"/>
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true"/>

    <style>
        #sidebar { top: 8rem; }

        #avator {
            width: 60%;
            height: 60%;
        }
        #background { background-color: #FAF9F8; }
    </style>

</head>
<body onhashchange="fix_the_nav();">
<div class="container-fluid m-0">
    <!-- 主体 -->
    <div class="row" id="background">
        <!-- 侧边栏 -->
        <div class="offset-1 col-md-2 d-md-block d-none bg-white shadow">
            <div class="nav sticky-top flex-column" id="sidebar">
                <!-- 头像 -->
                <img class="m-auto rounded-circle" src="~/images/avator.jpg" id="avator" alt="">
                <div>
                    <h4 class="text-center py-3 m-0">@ViewBag.Settings["BlogName"]</h4>
                </div>
                <!-- 简介 -->
                <div class="text-center pb-3 px-4 text-secondary small">
                    @ViewBag.Settings["BlogIntro"]
                </div>
                <!-- 按钮 -->
                <div class="pt-2 p-4 border-top">
                    <a type="button" class="btn btn-block bg-white ml-0" asp-controller="Home" asp-action="Index" asp-route-page="">
                        <i class="mi mi-Home "></i>
                        首页
                    </a>
                    <a type="button" class="btn btn-block bg-white ml-0">
                        <i class="mi mi-Link"></i>
                        友链
                    </a>
                    <a type="button" class="btn btn-block bg-white ml-0">
                        <i class="mi mi-Contact"></i>
                        关于
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <!-- 文章卡片区 -->
                <div class="col-md-9 pt-4 pb-0 px-4" id="content">
                    @RenderBody()
                    <!-- 页尾 -->
                    <footer class="page-footer shadow">
                        <div class="footer-copyright bg-white text-dark text-center small py-3 ">
                            © 2018 Copyright:
                            <a href="https://mdbootstrap.com/bootstrap-tutorial/" class="text-dark"> MDBootstrap.com</a>
                        </div>
                    </footer>

                </div>
                <!-- 右侧边栏 -->
                <div class="col-md-3 pt-4 px-0" id="second-sidebar">

                    <!-- 动态栏 -->
                    @if (ViewBag.Settings["FeedSwitch"] == "on")
                    {
                        @await Component.InvokeAsync("FeedBlock")
                    }

                    @if (IsSectionDefined("SecondSidebar"))
                    {
                        @await RenderSectionAsync("SecondSidebar", required: false)
                    }
                </div>
            </div>
        </div>
    </div>


</div>


<script>
    function fix_the_nav() {
        var target = document.documentElement.scrollTop - 60;
        document.documentElement.scrollTop = target;
    }
</script>
@if (IsSectionDefined("Scripts"))
{
    @await RenderSectionAsync("Scripts", required: false)
}
</body>
</html>